.link {
    color: white; /* Define a cor branca */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 18px;
    font-weight: bold;
  }
  
  .link:hover {
    color: green; /* Muda para verde ao passar o mouse */
  }