/* src/pages/PrivateProducts/PrivateProducts.css */

.container {
  margin-top: 120px; /* Para garantir que o conteúdo não invada o Navbar fixo */
  text-align: center;
  padding: 0 12px;
  color: white;
  font-size: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas */
  gap: 20px;
  justify-items: center;
  margin-top: 8px;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  width: 180px;
  height: 250px; /* Ajustado para acomodar o botão */
  padding: 12px;
  text-align: center;
}

.product-image {
  width: 160px;
  height: 120px;
  border-radius: 12px;
}

.product-name {
  font-size: 16px;
  color: blue;
  margin-top: 4px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: green;
  margin-top: 4px;
}

/* Estilo para o botão de adicionar ao carrinho */
.quantity-container {
  display: flex;
  justify-content: center; /* Centraliza os itens no centro */
  align-items: center;
  margin-top: 10px;
  gap: 8px; /* Diminuir o gap entre o input e o ícone */
}

.quantity-input {
  width: 40px;
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid green; /* Borda mais espessa (2px) */
  text-align: center; /* Centraliza o texto dentro do input */
  color: blue; /* Cor da fonte azul */
}

/* Estilo para o ícone de carrinho */
.add-to-cart-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-btn:hover {
  background-color: rgb(0, 255, 0);
}

