body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #056bca, #4783bc, #aed0f7 );
  }
  
  .container {
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 2rem;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .input-field {
    padding: 10px;
    font-size: 16px;
    background: black;
    color: green;
    border: none;
    border-radius: 5px;
    text-align: center;
  }

  .input-field::placeholder {
    color: white; /* Cor do placeholder */
    text-align: center; /* Centralizando o placeholder */
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background: black;
    color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: rgb(39, 169, 244);
    color: white;
  }
  