/* src/App.css */

/* Estilos globais para o layout */
body {
    margin: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #056bca, #4783bc, #aed0f7); /* Aplicando o linear gradient a todo o fundo */
}
  
  /* Estilos de container padrão */
.container {
    text-align: center;
    color: white;
}
  
  /* Títulos em geral */
h1 {
    font-size: 2.4rem;
    color: white;
}
  